body {
  margin: 0;
  //font-family: 'Cutive Mono', monospace;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #00FF12;
  .App{
    padding: .5rem;
  }
}